# {{ ansible_managed }}

description     "gitea"
author          "d4v1ncy@protonmail.ch"

setuid {{ gitea_user }}
umask 0007

start on runlevel [2345]
stop on runlevel [06]

respawn
respawn limit 5 60

env USER="{{ gitea_user }}"
env HOME="{{ gitea_working_dir }}"

chdir {{ gitea_working_dir }}

exec {{ gitea_bin }} serv
