*.py[cod]
pip-log.txt
pip-delete-this-directory.txt
.coverage
*flymake*
*#*
.*#*
*.#*
.*.#*
*.egg*
nohup.out
deps/
dist/*.gz
docs/build
keys/*
*/keys/*
backup.keybone
TODO.html
k43p5d10.sqlite
data/
venv/
provisioning/site.retry
data_20*
README.html
docs/build/html
logs/*.log
*.so
*.dylib
build/
integration-data/
