Flask-OAuthlib==0.9.3
Flask==0.11.1
SQLAlchemy==1.1.4
bcrypt==3.1.2
coloredlogs==5.2
cryptography==1.7.1
envelop==0.2.0
gevent==1.2.1
plant==0.1.2
pycrypto==2.6.1
pygit2==0.25.0
pyqrcode==1.2.1
python-json-logger==0.1.5
pytz==2016.10
pyzmq==16.0.2
redis==2.10.5
requests==2.12.4
