{% for client in hidden_service_hid_serv_auth -%}
HidServAuth {{ client }}
{% endfor -%}

{% for servicename, hsproperties in hidden_service_services.iteritems() %}
{% if hsproperties['hidden_service_state']|default('present') != 'absent' %}
HiddenServiceDir /var/lib/tor/{{ servicename }}
{% for port in hsproperties['hidden_service_ports'] %}
HiddenServicePort {{ port.0 }} {{ hidden_service_ipaddr }}:{{ port.1}}
{% endfor %}
{% endif %}
{% for client in hsproperties['hidden_service_authorized_clients']|default([]) %}
HiddenServiceAuthorizeClient stealth {{ client }}
{% endfor %}
{% endfor %}
